@font-face {
    font-family: Iosevka Regular;
    font-style: normal;
    src: local("Iosevka Regular"), url(/assets/font/TypoPRO-iosevka-term-regular.woff);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: Iosevka Regular, sans-serif, monospace;
    font-weight: normal;
    line-height: 1.5;
    color: #586e75;
    text-align: left;
    background-color: #fdf6e3;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr.ijo {
    border-bottom: 3px solid #586e75;
}

.ind {
    text-indent: 30px;
    text-align: justify;
}

.kanan {
    text-align: right;
}

/** Site header */
.site-header {
    border-top: 4px solid #586e75;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-title,
.site-title:visited {
    color: #424242;
    text-decoration: none;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.site-nav .nav-trigger {
    display: none;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .page-link:hover {
    color: #ffff;
    background: #586e75;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 8px;

}


.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #fdf6e3;
        border: 1px solid #586e75;
        border-radius: 5px;
        text-align: right;
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .menu-icon>svg {
        fill: #424242;
    }

    .site-nav input~.trigger {
        clear: both;
        display: none;
    }

    .site-nav input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
}

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.name {
    padding-top: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.name>p {
    margin-top: -10px;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.col,
.col-sm-12,
.col-lg,
.col-xl-4,
.col-xl-8 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    border-width: 4px;
    border-style: solid;
    border-color: #93a1a1;
    border-radius: 2px;
    padding-bottom: 10px;
}




.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #eee8d5;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* p {
    margin-top: 0;
    margin-bottom: 1rem;
} */

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.enbwh-10 {
    margin-bottom: 10px;
}

.enter-20 {
    margin-top: 20px;
}

.enter-10 {
    margin-top: 10px;
}


.bar {
    width: 100%;
    background-color: #eee8d5;
    border-width: 3px;
    border-style: solid;
    border-color: #93a1a1;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}



.skills {
    text-align: right;
    color: #eee8d5;
}

.os {
    width: 90%;
    background-color: #268bd2;
    border-radius: 10px;
}

.network {
    width: 80%;
    background-color: #859900;
    border-radius: 10px;
}


.coding {
    width: 75%;
    background-color: #b58900;
    border-radius: 10px;

}

.cloud {
    width: 60%;
    background-color: #cb4b16;
    border-radius: 10px;

}

.sec {
    width: 55%;
    background-color: #dc322f;
    border-radius: 10px;

}

.indo {
    width: 90%;
    background-color: #268bd2;
    border-radius: 10px;

}

.eng {
    width: 50%;
    background-color: #dc322f;
    border-radius: 10px;

}

.java {
    width: 95%;
    background-color: #268bd2;
    border-radius: 10px;

}

.pad-10 {
    padding-left: 30px;
}

.pepet {
    margin-top: -9px;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #eee8d5;
    margin-top: 10px;
}

#topBtn {
    position: fixed;
    bottom: 13px;
    align-items: center;
    right: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee8d5;
    color: #586e75;
    border: 4px solid #586e75;
    cursor: pointer;
    display: none;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition: box-shadow .2s ease-out;
    box-shadow: .8px .9px 3px grey;
}

#topBtn:hover {
    background-color: #fdf6e3;
    box-shadow: 14px grey;
    -webkit-transition: box-shadow .2s ease-in;
}